%h1 Instafix

%p Instafix makes it easy to replace all the ridiculous tags Instagram automatically adds to your Flickr photos.

%p Once you've logged in with your Flickr ID, you can see every photo you've uploaded to Flickr via Instagram. Then, you can alter them all in one fell swoop - adding titles, descriptions, and tags. There are convenient functions to remove the noise Instagram adds.

%p You can also choose to hide a photo from Instafix when it's edited - meaning you'll only see photos you want to edit.

%p Needless to say: Instafix is not responsible for any unintended alterations that happen to your photos. <b>You use Instafix at your own risk.</b>

- if !current_user
  %p To use Instafix, you'll need to sign in with Flickr:

  .sign-in-button
    .btn= link_to "Sign in to Flickr", photos_path

%hr

%p Instafix is by <a href="http://infovore.org">Tom Armitage.</a> <a href="https://github.com/infovore/instafix">Source is on Github.</a>
