/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
  font-family: "WWFRegular";
  font-style: normal;
  font-weight: normal;
  src: url(http://worldwildlife.org/assets/wwf-webfont-6075ffced0d6221a7be06df7dbaca5ef.eot);
  src: url(http://worldwildlife.org/assets/wwf-webfont.eot?#iefix) format("embedded-opentype"),url(http://worldwildlife.org/assets/wwf-webfont-fa8ed2d9e0f7a53d75806b8e286725fc.woff) format("woff"),url(http://worldwildlife.org/assets/wwf-webfont-1b715d7da8ae6a6a21a997dcf0e18ab0.ttf) format("truetype"),url(http://worldwildlife.org/assets/wwf-webfont.svg#WWFRegular) format("svg");
}

body {
  background: #000 !important;
  color: white;
}

#header {
  margin: 20px;
  padding-top: 20px;
  width: 960px;
  margin: 0 auto;
}

#header .brand {
  color: white;
  font-family: WWFRegular;
  text-transform: uppercase;
  font-size: 30px;
  float: left;
}

#fixedwrap {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  /*overflow-y: hidden;*/
  /*overflow-x: scroll;*/
}

#fixedwrap .inner {
  /*position: relative;*/
  /*width: 2000px;*/
  height: 700px;
}

.photos {
  position: relative;
  /*overflow: hidden;*/
  height: 100%;
  margin: 20px auto;
  /*width: 300px;*/
}

.photo {
  float: left;
  margin: 0 10px 10px 0;
  border: 5px solid white;
}

.photo.flickr {
  width: 130px;
  height: 130px;
}

.photo.tumblr {
  width: 55px;
  height: 55px;
}

.about-text {
  color: #eee;
  margin: 20px 0;
}

.about a:link, .about a:visited {
  text-decoration: underline;
  color: white;
}

.about a:hover {
  color: red;
}

#header .about {
  float: right;
}

.clear {
  display: block;
  clear: both;
}
